@import 'paper-dashboard/variables';

.card {
  form {
    .form-group {
      margin-bottom: 20px;
    }
  }

  i.nc-icon {
    margin-right: 5px;
  }

}


.main-panel {
  > .content {
    min-height: calc(100vh - 165px);
  }
}

.navbar-brand {
  color: $default-color;
}

.navbar {
  .navbar-nav {
    .nav-link {
      text-transform: none;

      i.nc-icon + p {
        margin-right: 8px;
      }

    }
  }
}

.sidebar {
  .logo {
    .logo-normal {
      margin-left: 5px;
    }
  }
}

.new-user {

  form {
    padding: 20px;
  }
}

.new-user, .visible {
  max-height: 0;
  overflow-y: hidden;
  transition: max-height 0.3s ease-in-out;
}

.new-user.visible {
  max-height: 350px;
}

.alert {
  padding-top: 5px;
  padding-bottom: 5px;
}

.loader {
  margin-left: 5px;
  display: none;

  &.show {
    display: inline;
  }
}
