@import 'paper-dashboard/variables';

.btn-link {
  outline: none !important;
  box-shadow: none !important;
}

.card {
  i.nc-icon {
    margin-right: 5px;
  }

}

.main-panel {
  > .content {
    min-height: calc(100vh - 165px);
  }
}

.navbar-brand {
  color: $default-color;
}

.navbar {
  .navbar-nav {
    .nav-link {
      text-transform: none;

      i.nc-icon + p {
        margin-right: 8px;
      }

    }
    .nav-link.btn-link {
      font-size: inherit;
    }
  }
}

.sidebar {
  .logo {
    .logo-normal {
      margin-left: 5px;
    }
  }
}

.alert {
  padding-top: 5px;
  padding-bottom: 5px;
}

.form-group {
	margin-bottom: 0;
}

.cdgd-field {
	margin-bottom: 30px;
	height: 75px;
}

.error {
	color: $danger-color;
}

.loader {
  margin-left: 5px;
  display: none;

  &.show {
    display: inline;
  }
}

.feedback {
  margin-top: 30px;
}

.btn-link {
	cursor: pointer;
}

.page-link.btn-link {
  border: 1px solid #dee2e6;
}

.page-link.btn-link {
  text-decoration: none !important
}

.page-item.active .page-link {
  background-color: $brand-info;
  border-color: $brand-info;
}

.page-item.disabled .page-link {
  color: $default-color;
}

.pagination-label {
  margin-top: 8px;
}

.cdgd-pagination {
  margin-top: 20px;

  select {
    width: 50px;
    margin-bottom: 10px;
  }

	.pagination {
		.nc-icon {
			font-size: 12px;
		}
	}

	tr {

		transition: background-color 150ms ease-out 75ms;

		&.new {
			background-color: $info-color;
      .fa-pencil-alt {
        color: $white-bg;
      }
		}

		&.edit {
			background-color: $warning-color;
		}
	}

}

.page-size {
  p {
    margin: 5px 0 5px 0;
  }
}

.sorts {

  float: left;
  margin-right: 10px;
  div {

    position: relative;
    margin-right: 5px;
    opacity: .50;

    &:hover {
      opacity: .75;
    }

    svg {
      position: absolute;
      display: block;
    }

    cursor: pointer;

    &.up.active, &.down.active {
      opacity: 1;
    }

    height: 6px;
  }
}

.bootstrap-table {
  th {

    &.narrow {
      width: 5%;
    }

    width: 20%;
  }
}

.nc-simple-remove {
	color: $danger-color;
	font-weight: bold;
}

.fa-pencil-alt {
	color: $info-color;
}

.no-hover.btn.btn-link:hover, .no-hover.btn.btn-link:focus {
	background-color: transparent !important;
}
