@import 'paper-dashboard/variables';

.card {
  form {
    .form-group {
      margin-bottom: 20px;
    }
  }
}


.main-panel {
  > .content {
    min-height: calc(100vh - 165px);
  }
}

.navbar-brand {
  color: $default-color;
}

.navbar {
  .navbar-nav {
    .nav-link {
      text-transform: none;

      i.nc-icon + p {
        margin-right: 8px;
      }

    }
  }
}
